@import "../_notCompile/variables";
@import "../_notCompile/mixins";

.excel__header {
  position: fixed;  
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  height: $header-height;
  padding: 0px 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #aabbe9;
  
  
  & .input {
    margin: 0 5px;
    padding: 2px 7px;
    min-width: 1px;
    color: #000;
    border: 1px solid transparent;
    border-radius: 2px;
    height: 35px;
    font-size: 22px;
    line-height: 22px;
    outline: none;
    background-color: #aabbe9;

    &:hover {
      border: 1px solid $border-color;
    }

    &:focus {
      border: 2px solid #1a73e8;      
    }
    
  }

  & .button {
    @include button(white);
    
    &:hover {
    background: #aabbe9;
    }
  }
}