@import "../_notCompile/variables";
@import "../_notCompile/mixins";

.excel__toolbar {
  position: fixed;
  z-index: 1000;
  left: 0;
  right: 0;
  top: $header-height;  
  height: $toolbar-height;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  background-color: white;
}

.button {
  @include button(green); 
  padding-right: 4px;
}

input[type="color"] {
  -webkit-appearance: none;
  border: none;
  border-radius: 3px;
  background: #fff;  
  height: 20px;
  width: 40px;
  overflow: hidden;
  outline: none;
  cursor: inherit;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;    
}

input[type="color"]::-webkit-color-swatch {
  border: none;  
}

/* firefox */
input[type=color]::-moz-focus-inner {
  border: none;
  padding: 0;
}

input[type=color]::-moz-color-swatch {
  border: none;
  height: 140px;
}