@import "../_notCompile/variables";
@import "../_notCompile/mixins";

.excel__toolbar {
  position: fixed;
  z-index: 1000;
  left: 0;
  right: 0;
  top: $header-height;
  height: $toolbar-height;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  background-color: white;
}

.button {
  @include button(green);
  padding-right: 4px;
}

.colorpicker {
  padding-left: 5px;
  padding-right: 10px;
  border-left: 1px solid $border-color;
}

.font-size {
  margin: 0 10px 0 5px;
  height: 24px;
  width: 39px;
  text-align: center;
  font-size: 16px;
}

select {
  width: 45px;
}

div.tip {
  text-decoration: none;
}

div.tip:hover {
  cursor: pointer;
  position: relative;
}

div.tip span {
  display: none;
  font-size: 16px;
}

div.tip:hover span {
  border: #c0c0c0 1px dotted;
  padding: 5px 5px 5px 5px;
  display: block;
  background: #f0f0f0 no-repeat 100% 5%;
  left: 0px;
  margin: 10px;
  width: max-content;
  position: absolute;
  top: 17px;
  text-decoration: none;
}

input[type="color"] {
  -webkit-appearance: none;
  border: 1px solid $border-color;
  border-radius: 3px;
  background: #fff;
  height: 20px;
  width: 36px;
  overflow: hidden;
  outline: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
}

/* firefox */
input[type="color"]::-moz-focus-inner {
  border: none;
  padding: 0;
}

input[type="color"]::-moz-color-swatch {
  border: none;
  height: 140px;
}

label {
  cursor: inherit;
}
