$header-height: 60px;
$toolbar-height: 45px;
$formula-height: 35px;
$info-cell-width: 60px;
$cell-width: 120px;
$row-height: 30px;
$db-header-height: 60px;

$border-color: #c0c0c0;
$primary-color: #3c74ff;
